@charset "UTF-8;"

* {

}

body {
    background-image: linear-gradient(to left, #008F8C, #0CABA8  );
}

main {

    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.556);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #023535;
    text-align: center;
    text-shadow: 1px 1px 0px, black;

}

h2 {
    color:#0FC2C0;

}

p {
    text-align: justify;
}